<!DOCTYPE html>
<html>
  <head>
	<title><%= name %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<h1><%= name %></h1>
	<table>
      <tbody>
        <tr>
          <td>Gender</td>
          <td><%= gender %></td>
        </tr>
        <tr>
          <td>Hair Color</td>
          <td><%= hair_color %></td>
        </tr>
        <tr>
          <td>Height</td>
          <td><%= height %></td>
        </tr>
        <tr>
          <td>Mass</td>
          <td><%= mass %></td>
        </tr>
        <tr>
          <td>Skin Color</td>
          <td><%= skin_color %></td>
        </tr>
        <tr>
          <td>Eye Color</td>
          <td><%= eye_color %></td>
        </tr>
      </tbody>
	</table>
  </body>
</html>
